<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Tickets</h2>

      <ul>
        <li><%= link_to "View All Tickets", root_path() %></li>
        <li><%= link_to "View Tickets Assigned To Me", root_path(:assignee_id => current_user.id) %></li>
      </ul>

      <% if @tickets.count > 0 %>
        <h4>No Rush</h4>
        <hr>
        <% @tickets.each do |ticket| %>
          <%= render :partial => '/tickets/row', :locals => { :ticket => ticket } %>
        <% end %>

      <% end %>

      <% if @sorted_tickets.count > 0 %>

        <% @sorted_tickets.each do |due_date, tickets| %>
          <hr>
          <h4><%= due_date %></h4>
          <hr>
          <% tickets.each do |ticket| %>
            <%= render :partial => '/tickets/row', :locals => { :ticket => ticket } %>
          <% end %>
        <% end %>

      <% end %>

      <hr>
      <strong><%= link_to 'Want to create a ticket?', new_ticket_url %></strong>

    </div>
  </div>
</div>
