<div class="inner">
  <section class="generic">

    <section class="heading">
      <h2><%= @ticket.title  %></h2>
      <nav><%= link_to 'Edit', edit_ticket_path(@ticket), class: 'highlight blue' %> <%= link_to 'Delete', ticket_path(@ticket),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'highlight blue' %></nav>
    </section>

    <% if @ticket.description? %>
      <section class="cell margin-bottom">
        <%= @ticket.description %>
      </section>
    <% end %>

    <h2 class="margin-bottom">Ticket Details</h2>

    <div class="cell ticket-details margin-bottom">

      <% if @assignee %>
        <p>
          <strong>Assignee:</strong>
          <%= @assignee.email %>
        </p>
      <% end %>

      <% if @ticket.due_date %>
        <p>
          <strong>Due date:</strong>
          <%= l @ticket.due_date, format: :month_date_year_concise %>

        </p>
      <% end %>

      <p>
        <strong>Status:</strong>
        <%= @ticket.status %>
      </p>

      <% if @ticket.project_id %>
        <p>
          <strong>Project:</strong>
          <%= link_to Project.find(@ticket.project_id).title, project_path(@ticket.project_id) %>
        </p>
      <% end %>

    </div>

    <% if @ticket.comments.any? %>
      <h2 class="margin-bottom">Comments</h2>
      <div class="comments-list margin-bottom">
        <% @ticket.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      </div>
    <% end %>


    <h2 class="margin-bottom">Add a Comment</h2>
    <div class="cell form-styles">
      <%= form_with(model: [ @ticket, @ticket.comments.build ], local: true) do |form| %>
        <p>
          <%= form.label :description %><br>
          <%= form.text_area :description, class: 'form-control' %>
        </p>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>

  </section>

</div>
