<div class="inner">
  <section class="generic">

    <section class="heading">
      <h2><%= @project.title  %></h2>
      <nav><%= link_to 'Edit', edit_project_path(@project), class: 'highlight blue' %> <%= link_to 'Delete', project_path(@project),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'highlight blue' %></nav>
    </section>

    <% if @project.description? %>
      <section class="cell margin-bottom"><p><%= @project.description %></p></section>
    <% end %>

    <h2 class="margin-bottom">Project Details</h2>

    <div class="cell margin-bottom"><p><strong>Team:</strong> <%= link_to @team.title, team_path(@team) %></div>

    <% if @team.users %>
      <div class="cell margin-bottom">
        <strong>Members: </strong><%= @team.users.map(&:display_name).join(', ') %>
      </div>
    <% end %>

    <section class="heading">
      <h2>Tickets</h2>
      <nav><%= link_to 'Create Ticket', new_ticket_url(:project_id => @project.id), class: 'highlight blue' %></nav>
    </section>

    <% if @tickets.any? %>
      <div class="tickets-list">
        <% @tickets.each do |ticket| %>
          <%= render :partial => '/tickets/row', :locals => { :ticket => ticket } %>
        <% end %>
      </div>
    <% else %>
      <div class="cell">Looks like you don't have any tickets. <%= link_to 'Would you like to create one?', new_ticket_url(:project_id => @project.id) %></div>
    <% end %>

  </section>

</div>
